body  {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  }

  header {
  background-color: #2e2e2e;
  color: rgb(251, 247, 247);
  padding: 20px;
  }

  h2 {
    text-align: center;
  }

  .centrado {
    text-align: center;
  }

  nav ul {
  list-style: none;
  }

  nav ul li {
  display: inline;
  margin-right: 30px;
  }

  nav ul li a {
  color: rgb(245, 242, 242);
  text-decoration: none;
  }

  main {
  padding: 20px;
  }

  .espacio{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .justificado{
    text-align: justify;
  }

  #temas {
    text-align: center;
  }
  
  #temas .textoImagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
  }
  
  #temas .textoImagen img {
    max-width: 75%; 
    max-height: 75; 
    height: auto;
  }

  #fundamentos li{
    padding: 8px;
  }

  .footerMargen {
    margin-bottom: 100px;
  }

  .centradoV {
    display: grid;
    place-items: center;
    height: 300px;
    text-align: center;
  }

/*--------------------------------*/
.gus {
  margin-bottom: 70px;
}

.linksEstilos { 
  list-style: none; 
}

.linksEstilos li {
  border: 0px solid #ccc; 
  padding: 8px; 
  margin-bottom: 20px; 
  text-align: center;
}

.linksEstilos a:link {
  color: rgb(68, 31, 252);
  text-decoration: none;
}

.linksEstilos a:visited {
  color: rgb(68, 31, 252);
}
/*--------------------------------*/

  .margen{
    margin-left: 20px;
    margin-right: 20px;
  }

  /*------------------------------------*/
  header nav ul li:hover {
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.423);
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
  }

  header nav ul li {
    transition: box-shadow 0.3s ease;
  }
  /*------------------------------------*/
  .contenido {
    width: 80%;
    margin: 20px auto;
  }
  
  .contenido h2 {
    color: #555;
    margin-bottom: 10px;
  }
  
  .contenido .personal-info,
  .contenido .education, 
  .contenido .laboral {
    margin-bottom: 20px;
  }
  
  .contenido p {
    margin: 5px 0;
  }

  /*-------------------------------------*/
  .fotoMa img {
    width: 55px;
    margin-top: 40px;
    margin-left: 30px;
  }

  /*-------------------------------------*/
  .imagenJude {
    text-align: center;
  }

  .imagenJude img {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
  }

  /*-------------------------------------*/

  footer {
  background-color: #333;
  color: rgb(248, 244, 244);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  }

  /* Estilos para el formulario */
  form {
  max-width: 400px;
  margin: 0 auto;
  }

  /* Alinear etiquetas y campos en filas */
  form label,
  form input[type="text"],
  form input[type="email"],
  form textarea,
  form input[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  }

  

  


  